@font-face {
    font-family: 'junicoderegular';
    src: url('/assests/junicode-regular-webfont.eot');
    src: url('/assests/junicode-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assests/junicode-regular-webfont.woff2') format('woff2'),
         url('/assests/junicode-regular-webfont.woff') format('woff'),
         url('/assests/junicode-regular-webfont.ttf') format('truetype'),
         url('/assests/junicode-regular-webfont.svg#junicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}