<section class="jumbo">
  <div class="container">
    <div class="text-center">
      <h1>View the best comedy bits from around the globe.</h1>
      <p class="lead">Watch and upload the best comedy bits from around the world. There is no better way to watch comedy!</p>
    </div>
</section><!-- /.container -->
<section class="trending">
  <div class="container">
    <div class="text-center">
      <h2>Checkout Who's Trending!</h2>
      <p class="lead">List of all of the trending comedy bits.</p>
    </div>
</section><!-- /.container -->
<section class="browse">
  <div class="container">
    <div class="text-center">
      <h2>Comedy Bits</h2>
      <p class="lead">List of all of the comedy bits in a table. Sorted by most views.</p>
    </div>
</section><!-- /.container -->
