body {
  padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}
.navbar.navbar-inverse {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}
.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:26px;
}
.jumbo {
	padding-top: 50px;
	height: 45em;
	background: url(background.jpeg) no-repeat center center;
	background-size: cover;
	color: white;
}
.trending {
	height: 25em;
}
.browse {
	background-color: gray;
	height: 25em;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}
.sign-search {
  width: 45%;
}
/*@830*/
@media (max-width: 928px) {
  #srch-term, .input-group-btn {
    display: none;
  }
  .sign-search {
  width: 30%;
  }
}