body {
  padding-top: 50px;
}
.jumbo {
	padding-top: 50px;
	height: 45em;
	background: url(background.jpeg) no-repeat center center;
	background-size: cover;
	color: white;
}
.trending {
	height: 25em;
}
.browse {
	background-color: gray;
	height: 25em;
}