@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body {
  padding-top: 50px;
  font-family: 'junicoderegular';
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  line-height: 1.15;
  letter-spacing: .07em;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar.navbar-inverse {
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}
.navbar-inverse .navbar-brand {
  color: #b99d6b;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size:26px;
}
.jumbo {
	padding-top: 50px;
	height: 45em;
	background: url(background.jpeg) no-repeat center center;
	background-size: cover;
	color: white;
}
.jumbo-words {
  width: 75%;
  margin: 10% auto;
}
.jumbo-words h1 {
  font-size: 5em;
}
.trending {
	height: 25em;
}
.browse {
	background-color: gray;
	height: 25em;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}
.sign-search {
  width: 45%;
}
@media (max-width: 928px) {
  #srch-term, .input-group-btn {
    display: none;
  }
  .sign-search {
  width: 30%;
  }
}